@media only screen and (min-width: 600px){
    .nav {
 
        background-color: darkcyan;
    }

    .bar {
        display: none;
        margin-right: 0;
    }

    .list {
        position: relative;
        height: 100px;
        top: 0;
        background: none;
        float: right;
        text-align: right;
        margin-right: 20px;
        transition: none;
    }

    .list li {
        display: inline-block;
        line-height: 100px;
        margin: 0 10px;
        transition: none;
    }

    .nav ul li a:hover {
        color: black;
    }
}

@media only screen and (min-width: 425px) and (max-width: 764px){
    .formal {
        height: auto;
        width: 100%;
        float: none;
        border-radius: 5%;
    }
    
    .inside {
        width: 100%;
        justify-content: center;
        display: inline-block;
        margin-left: 5px;
        margin-top: 30px;
    }
    
    .side {
        width: 100%;
        margin-top: 20px;
        margin-left: 5px;
        justify-content: center;
        align-items: flex-end;
    }
    
    #accordion {
        width: 100%;  
        margin-left: 5px;
        font-size: 5px;
        display: inline;
    }

    #Portfolio .collapse {
        display: none;
    }

    #Portfolio {
        width: 100%;
        justify-content: center;
        align-content: center;
    }

}

@media only screen and (min-width: 765px) and (max-width: 879px){
    #Portfolio .lapse {
        display: none;
    }

    .formal {
        height: 250px;
        float: none;
        margin: auto;
    }
   
}

